.section-features-item-row  {
  padding-bottom: rem(90px);

}

.section-features-blocks {
  position: relative;
  background: $gray;
  min-width: rem(570px);
  margin-right: rem(80px);
  padding: rem(40px) rem(50px);
  margin-bottom: rem(80px);

  &::after {
    content: '';
    position: absolute;
    width: rem(100px);
    height: rem(100px);
    top: rem(45px);
    left:  rem(38px);
    background-color: $green;
    border-radius: 50%;
    z-index: 1;
  }

}

.section-features-blocks--correct {
  position: relative;
  background: $gray;
  min-width: rem(570px);
  margin-right: rem(80px);
  padding: rem(60px) rem(50px);
  margin-bottom: rem(80px);

  &::after {
    content: '';
    position: absolute;
    width: rem(100px);
    height: rem(100px);
    top: 45px;
    left:  68px;
    background-color: $green;
    border-radius: 50%;
    z-index: 1;
  }

}

.section-features__icon {
  z-index: 2;
  padding-right: rem(80px);
  padding-bottom: rem(35px);
}

.section-features__title {
  font-size: rem(36px);
  padding-top: rem(40px);
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;
}

.section-features__title--correct {
  font-size: rem(36px);
  padding-top: rem(15px);
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;

}

.section-features__text {
  font-size: rem(16px);
  font-family: $arial;
  padding-bottom: rem(35px);
  color: #444444;
}

.section-features__text--correct {
  margin-top: rem(15px);
}

.section-features__link {
  position: relative;
  font-size: rem(20px);
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;

  &:hover::after {
    content: '';
    position: absolute;
    top:  rem(10px);
    right: rem(-60px);
    width: rem(33px);
    height: rem(11px);
    background: url("../img/right-arrow-long.png") no-repeat;
    transition: all 0.2s;

  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top:  rem(10px);
    right: rem(-40px);
    width: rem(24px);
    height: rem(11px);
    background: url("../img/right-arrow.png") no-repeat;
  }

}

.section-features-item__items {
  position: relative;
  min-width: rem(225px);
  margin-right: rem(110px);
}

.section-features-item__items--helpful {
  &::after {
    content: '1';
    position: absolute;
    font-size: rem(281px);
    z-index: -1;
    top: rem(88px);
    right: rem(0px);
    color: #f2f2f2;
  }
}

.section-features-item__items--cooking {
  &::after {
    content: '2';
    position: absolute;
    font-size: rem(281px);
    z-index: -1;
    top: rem(88px);
    right: rem(0px);
    color: #f2f2f2;
  }

}

.section-features-item__items--replacement {
  &::after {
    content: '3';
    position: absolute;
    font-size: rem(281px);
    z-index: -1;
    top: rem(88px);
    right: rem(0px);
    color: #f2f2f2;
  }
}

.section-features-item__items--change {
  &::after {
    content: '4';
    position: absolute;
    font-size: rem(281px);
    z-index: -1;
    top: rem(88px);
    right: rem(0px);
    color: #f2f2f2;
  }
}

.section-features-item__title {
  font-size: rem(60px);
  color: $black;
  font-family: $oswald;
  margin-bottom: rem(70px);
}

.section-features-item__icons {
  background: $green;
  width: rem(80px);
  height: rem(80px);
  padding: rem(25px) rem(28px);
  margin-bottom: rem(35px);
}

.section-features-item__text {
  font-family: $arial;
  font-size: rem(16px);
  color: $black;
}

.section-features-item__title-footer {
  font-family: $oswald;
  font-size: rem(60px);
  color: $black;
  padding-bottom: rem(67px);
}



