.slider {
  background-color: #f2f2f2;
  padding-top: rem(75px);
  font-family: $arial;
  padding-bottom: rem(70px);
}

.slider__left {
  width: rem(432px);
  margin-right: rem(180px);
}

.slider__right {
  min-width: 50%;
  margin-top: rem(-220px);
}

.slider__text {
  font-size: rem(16px);
  color: #444444;
  padding-bottom: rem(75px);
}

.slider__item {
  position: relative;
  width: rem(165px);
  border: rem(2px) solid #cdcdcd;
  margin-right: rem(40px);
  border-radius: rem(3px);
  text-align: center;
  padding: rem(21px) rem(0px);
  margin-bottom: rem(60px);

}

.slider__item-param {
  font-size: rem(30px);
  text-transform: uppercase;
  font-family: $oswald;
}

.slider__item-span {
  position: absolute;
  display: inline-block;
  padding: rem(0px) rem(5px);
  background: #f2f2f2;
  top: rem(57px);
  left: rem(24px);
}

.slider__item-span--correct {
  position: absolute;
  display: inline-block;
  padding: rem(0px) rem(5px);
  background: #f2f2f2;
  top: rem(57px);
  left: rem(9px);
}

.slider__item-text {
  text-transform: uppercase;
  font-size: rem(20px);
  color: $black;
  font-family: $oswald;
  margin-right: rem(65px);
}

.slider__right-img {
  padding-bottom: rem(50px);
}

.slider__right-time {
  font-family: $oswald;
  font-size: rem(20px);
  border-bottom: 1px dotted #bebebe;
  margin: rem(0px) rem(24px);
}

.slider__right-line {
  position: relative;
  width: rem(428px);
  height: rem(6px);
  background-color: #dcdcdc;
  border-radius: rem(5px);
  margin-top: rem(15px);
}

.slider__right-button {
  position: absolute;
  width: rem(34px);
  height: rem(34px);
  background: $white;
  border-radius: 50%;
  cursor: pointer;
  top: rem(-14px);
  left: 45%;
  box-shadow: rem(0px) rem(2px) rem(5px) rgba(0, 0, 0, 0.15);

  &:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }

  &:active {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  }

  &::after {
    position: absolute;
    content: '';
    width: rem(8px);
    height: rem(8px);
    background: $green;
    top: rem(13px);
    left: rem(13px);
    border-radius: rem(5px);
  }

}




